{extend name="../../admin/view/main"}

{block name="content"}

<form autocomplete="off" class='layui-form layui-card' data-auto="true" id="Form" action="{:request()->url()}" method="post" onsubmit="return false;">
    <div class="layui-card-body padding-40 padding-bottom-20">

        <label class="layui-form-item">
            <span class="color-green font-w7 ">所属律师</span>
            <span class="color-desc margin-left-5"></span>
            <select class="layui-select" name="lawyer_information_id" lay-search=""  >
                <option value="0" data-type="0"></option>
                {foreach $lawyer as $id=>$name}
                {if isset($vo.lawyer_information_id) && $id==$vo.lawyer_information_id}
                <option selected value="{$id}">{$name}</option>
                {else}
                <option value="{$id}">{$name}</option>
                {/if}
                {/foreach}
            </select>
        </label>


        <div class="layui-form-item" >
            <span class="label-required-prev font-w7 color-green">问题</span>
            <textarea class="layui-textarea" name="problem" placeholder="请输入问题" required> {$vo.problem|default=''|raw}</textarea>
        </div>

        <div class="layui-form-item ">
            <span class="help-label"><b>附件图片上传</b></span>
            <table class="layui-table">
                <thead>
                <tr>
                    <th class="text-left" style="width:100%">图片上传</th>
                </tr>
                <tr>

                    <td class="text-left padding-0">
                        <div class="help-images">
                            <input name="img" data-max-width="2048" data-max-height="1024" type="hidden" value="{$vo.img|default=''}">
                            <script>$('[name="img"]').uploadMultipleImage();</script>
                        </div>
                    </td>
                </tr>
                </thead>
            </table>
        </div>

        <label class="layui-form-item">
            <span class="color-green font-w7">姓名</span>
            <span class="color-desc margin-left-5"></span>
            <input class="layui-input" name="name" placeholder="请输入姓名"  required  value="{$vo.name|default=''}">
        </label>

        <label class="layui-form-item">
            <span class="color-green font-w7">联系电话</span>
            <span class="color-desc margin-left-5"></span>
            <input class="layui-input" name="phone" placeholder="请输入联系电话" required value="{$vo.phone|default=''}">
        </label>


        <!--<label class="layui-form-item">
            <span class="color-green font-w7">案源地址</span>
            <span class="color-desc margin-left-5"></span>
            <input class="layui-input" name="address" placeholder="请输入案源地址" required  value="{$vo.address|default=''}">
        </label>-->

        <div class="layui-form-item label-required-prev">
            <span class="help-label"><b>案源地址</b></span>
            <div class="layui-row layui-col-space10">
                <label class="layui-col-xs4"><select class="layui-select block full-width" lay-ignore name="province"></select></label>
                <label class="layui-col-xs4"><select class="layui-select block full-width" lay-ignore name="city"></select></label>
                <label class="layui-col-xs4"><select class="layui-select block full-width" lay-ignore name="area"></select></label>
            </div>
        </div>

        <div class="layui-form-item label-required-prev">
            <span class="help-label"><b>被告人地址</b></span>
            <div class="layui-row layui-col-space10">
                <label class="layui-col-xs4"><select class="layui-select block full-width" lay-ignore name="province2"></select></label>
                <label class="layui-col-xs4"><select class="layui-select block full-width" lay-ignore name="city2"></select></label>
                <label class="layui-col-xs4"><select class="layui-select block full-width" lay-ignore name="area2"></select></label>
            </div>
        </div>

        <div class="layui-form-item  ">
            <label class="layui-form-label label-required" style="padding-left:0px;text-align: left;color: #090!important;font-weight: bold;">是否优先本地</label>
            <div class="layui-input-block">
                {foreach $is_priority as $k=>$v}
                <label class="think-radio">
                    {if ( (isset($vo.is_priority) && ($k eq $vo.is_priority)) || (!isset($vo.id) && $k==0 ) )  }
                    <input name="is_priority"  checked  type="radio" value="{$k}" lay-ignore> {$v}
                    {else}
                    <input name="is_priority" type="radio" value="{$k}" lay-ignore> {$v}
                    {/if}
                </label>
                {/foreach}
            </div>
        </div>

        {notempty name='vo.id'}
        <label class="layui-form-item">
            <span class="color-green font-w7 ">状态</span>
            <span class="color-desc margin-left-5"></span>
            <select class="layui-select" name="status" >

                {foreach $status as $key=>$item}
                {if isset($vo.status) && $key==$vo.status}
                <option selected value="{$key}">{$item}</option>
                {else}
                <option value="{$key}">{$item}</option>
                {/if}
                {/foreach}
            </select>
        </label>


        <label class="layui-form-item">
            <span class="color-green font-w7 ">是否上下架</span>
            <span class="color-desc margin-left-5"></span>
            <select class="layui-select" name="is_shelves" >

                {foreach $is_shelves as $key=>$item}
                {if isset($vo.is_shelves) && $key==$vo.is_shelves}
                <option selected value="{$key}">{$item}</option>
                {else}
                <option value="{$key}">{$item}</option>
                {/if}
                {/foreach}
            </select>
        </label>
        {/notempty}

        <div class="hr-line-dashed margin-top-40"></div>
        {notempty name='vo.id'}<input name="id" type="hidden" value="{$vo.id}">{/notempty}
        <div class="layui-form-item text-center">
            <button class="layui-btn" type="submit">提交信息</button>
            <button class="layui-btn layui-btn-danger" ng-click="hsitoryBack()" type="button">取消编辑</button>
        </div>
    </div>


    <script>
        require(['pcasunzips'], function () {
            (function (province, city, area) {
                new PCAS("province", "city", "area", province, city, area);
            })('{$vo.province|default=""}', '{$vo.city|default=""}', '{$vo.area|default=""}');
        });
        require(['pcasunzips'], function () {
            (function (province, city, area) {
                new PCAS("province2", "city2", "area2", province, city, area);
            })('{$vo.province2|default=""}', '{$vo.city2|default=""}', '{$vo.area2|default=""}');
        });
    </script>
</form>
{/block}

{block name='script'}
<script>
    /*! 表单初始化 */
    window.form.render();

    require(['ckeditor', 'angular'], function () {

        var app = angular.module("Form", []).run(callback);
        angular.bootstrap(document.getElementById(app.name), [app.name]);
        function callback($rootScope) {
            // 返回列表
            $rootScope.hsitoryBack = function () {
                $.msg.confirm('确定要取消编辑吗？', function (index) {
                    history.back(), $.msg.close(index);
                });
            };
        }
    });

</script>


{/block}