{extend name="../../admin/view/main"}

{block name="button"}

<!--{if auth("add")}-->
<button data-open='{:url("add")}' data-title="添加信息" class='layui-btn layui-btn-sm layui-btn-primary'>添加信息</button>
<!--{/if}-->
<!--{if auth("remove")}-->

<!--{/if}-->

{/block}

{block name="content"}
<div class="layui-tab layui-tab-card think-bg-white table-block">
    <!--<ul class="layui-tab-title notselect">
        {foreach ['0'=>'正常显示','1'=>'草 稿 箱'] as $k=>$v}
        {if isset($mode) and $mode eq $k}
        <li class="layui-this" data-open="{:url('index')}?mode={$k}">{$v}</li>
        {else}
        <li data-open="{:url('index')}?mode={$k}">{$v}</li>
        {/if}
        {/foreach}
    </ul>-->
    <div class="layui-tab-content think-box-shadow table-block table-block">
        {include file='script/index_search'}
        <table class="layui-table margin-top-10" lay-skin="line">
            <thead>
            <tr>
                <th class='list-table-check-td think-checkbox'>
                    <label><input data-auto-none data-check-target='.list-check-box' type='checkbox'></label>
                </th>

                <th class='text-center nowrap' width="">ID</th>
                <th class='text-center nowrap' width="">所属律师</th>
                <th class='text-center nowrap' width="">脚本标题</th>
                <th class='text-center nowrap' width="">状态</th>

                <th class='text-center nowrap' width="">创建时间</th>
                <th class='text-center nowrap' width="">修改时间</th>

                <th class='text-center'>操作</th>
            </tr>
            </thead>
            <tbody>
            {foreach $list as $key=>$vo}
            <tr>
                <td class='list-table-check-td think-checkbox'>
                    <label><input class="list-check-box" value='{$vo.id}' type='checkbox'></label>
                </td>

                <td class='text-center nowrap'>{$vo.id}</td>
                <td class='text-center nowrap'>{$vo.lawyer_name}</td>
                <td class='text-center nowrap'>{$vo.title}</td>
                <td class='text-center nowrap'>{$vo.status}</td>
                <td class='text-center nowrap'>{$vo.create_time}</td>
                <td class='text-center nowrap'>{$vo.update_time}</td>

                <td class='text-center nowrap'>
                    <a data-dbclick class="layui-btn layui-btn-sm" data-open='{:url("edit")}?id={$vo.id}' data-csrf="{:systoken('edit')}">编 辑</a>
                </td>
            </tr>
            {/foreach}
            </tbody>
        </table>
        {empty name='list'}<span class="notdata">没有记录哦</span>{else}{$pagehtml|raw|default=''}{/empty}
    </div>
</div>
{/block}
