{extend name="../../admin/view/main"}

{block name="content"}

<form autocomplete="off" class='layui-form layui-card' data-auto="true" id="Form" action="{:request()->url()}" method="post" onsubmit="return false;">
    <div class="layui-card-body padding-40 padding-bottom-20">

        <label class="layui-form-item">
            <span class="color-green font-w7">发布版本号</span>
            <input class="layui-input" name="version_number" placeholder="请输入版本号" required value="{$vo.version_number|default=0}">
        </label>



        <div class="hr-line-dashed margin-top-40"></div>
        {notempty name='vo.id'}<input name="id" type="hidden" value="{$vo.id}">{/notempty}
        <div class="layui-form-item text-center">
            <button class="layui-btn" type="submit">提交信息</button>
            <button class="layui-btn layui-btn-danger" ng-click="hsitoryBack()" type="button">取消编辑</button>
        </div>
    </div>
</form>
{/block}

{block name='script'}
<script>
    /*! 表单初始化 */
    window.form.render();

    $(document).ready(function() {
        // select下拉框选中触发事件
        form.on('select(type)', function (data) {


        });
    });


</script>
{/block}