{extend name="../../admin/view/main"}

{block name="button"}

<!--{if auth("add")}-->
<!--<button data-open='{:url("add")}' data-title="添加信息" class='layui-btn layui-btn-sm layui-btn-primary'>添加信息</button>-->
<!--{/if}-->
<!--{if auth("remove")}-->
<!--
<a data-confirm="确定要永久删除这些信息吗？" data-action='{:url("remove")}' data-rule="id#{key}" data-csrf="{:systoken('remove')}" class='layui-btn layui-btn-sm layui-btn-primary'>批量删除</a>
-->

<!--{/if}-->

{/block}

{block name="content"}
<div class="layui-tab layui-tab-card think-bg-white table-block">
    <!--<ul class="layui-tab-title notselect">
        {foreach ['0'=>'正常显示','1'=>'草 稿 箱'] as $k=>$v}
        {if isset($mode) and $mode eq $k}
        <li class="layui-this" data-open="{:url('index')}?mode={$k}">{$v}</li>
        {else}
        <li data-open="{:url('index')}?mode={$k}">{$v}</li>
        {/if}
        {/foreach}
    </ul>-->
    <div class="layui-tab-content think-box-shadow table-block table-block">
        {include file='platform_user/index_search'}
        <table class="layui-table margin-top-10" lay-skin="line">
            <thead>
            <tr>
                <th class='list-table-check-td think-checkbox'>
                    <label><input data-auto-none data-check-target='.list-check-box' type='checkbox'></label>
                </th>
               <!-- <th class='list-table-sort-td'>
                    <button type="button" data-reload class="layui-btn layui-btn-xs">刷 新</button>
                </th>-->
                <th class='text-center nowrap' width="">ID</th>
                <th class='text-center nowrap' width="">头像</th>
                <th class='text-center nowrap' width="">openId</th>
                <th class='text-center nowrap' width="">电话</th>
                <th class='text-center nowrap' width="">昵称</th>
                <th class='text-center nowrap' width="">性别</th>
                <th class='text-center nowrap' width="">国家</th>
                <th class='text-center nowrap' width="">省份</th>
                <th class='text-center nowrap' width="">城市</th>
                <th class='text-center nowrap' width="">平台</th>
                <th class='text-center nowrap' width="">创建时间</th>
                <th class='text-center nowrap' width="">修改时间</th>

            </tr>
            </thead>
            <tbody>
            {foreach $list as $key=>$vo}
            <tr>
                <td class='list-table-check-td think-checkbox'>
                    <label><input class="list-check-box" value='{$vo.id}' type='checkbox'></label>
                </td>
                <!--<td class='list-table-sort-td'>
                    <input data-action-blur="{:request()->url()}" data-value="id#{$vo.id};action#sort;sort#{value}" data-loading="false" value="" class="list-sort-input">
                </td>-->
                <td class='text-center nowrap'>{$vo.id}</td>
                <td class='text-center nowrap'><img src="{$vo.avatar_url}" width="60" height="60"></td>
                <td class='text-center nowrap'>{$vo.open_id}</td>
                <td class='text-center nowrap'>{$vo.phone}</td>
                <td class='text-center nowrap'>{$vo.nick_name}</td>
                <td class='text-center nowrap'>{$vo.gender}</td>
                <td class='text-center nowrap'>{$vo.country}</td>
                <td class='text-center nowrap'>{$vo.province}</td>
                <td class='text-center nowrap'>{$vo.city}</td>
                <td class='text-center nowrap'>{$vo.platform}</td>
                <td class='text-center nowrap'>{$vo.create_time}</td>
                <td class='text-center nowrap'>{$vo.update_time}</td>

            </tr>
            {/foreach}
            </tbody>
        </table>
        {empty name='list'}<span class="notdata">没有记录哦</span>{else}{$pagehtml|raw|default=''}{/empty}
    </div>
</div>
{/block}
