{extend name="../../admin/view/main"}

{block name="button"}



{/block}

{block name="content"}
<div class="layui-tab layui-tab-card think-bg-white table-block">
    <!--<ul class="layui-tab-title notselect">
        {foreach ['0'=>'正常显示','1'=>'草 稿 箱'] as $k=>$v}
        {if isset($mode) and $mode eq $k}
        <li class="layui-this" data-open="{:url('index')}?mode={$k}">{$v}</li>
        {else}
        <li data-open="{:url('index')}?mode={$k}">{$v}</li>
        {/if}
        {/foreach}
    </ul>-->
    <div class="layui-tab-content think-box-shadow table-block table-block">
        {include file='enterprise_consulting/index_search'}
        <table class="layui-table margin-top-10" lay-skin="line">
            <thead>
            <tr>
                <th class='list-table-check-td think-checkbox'>
                    <label><input data-auto-none data-check-target='.list-check-box' type='checkbox'></label>
                </th>
               <!-- <th class='list-table-sort-td'>
                    <button type="button" data-reload class="layui-btn layui-btn-xs">刷 新</button>
                </th>-->
                <th class='text-center nowrap' width="">ID</th>
                <th class='text-center nowrap' width="">openId</th>

                <th class='text-center nowrap' width="">咨询标题</th>

                <th class='text-center nowrap' width="">电话</th>
                <th class='text-center nowrap' width="">公司</th>


                <th class='text-center nowrap' width="">平台</th>
                <th class='text-center nowrap' width="">状态</th>
                <th class='text-center nowrap' width="">备注</th>
                <th class='text-center nowrap' width="">留言时间</th>
                <th class='text-center'>操作</th>

            </tr>
            </thead>
            <tbody>
            {foreach $list as $key=>$vo}
            <tr style="height:80px;">
                <td class='list-table-check-td think-checkbox'>
                    <label><input class="list-check-box" value='{$vo.id}' type='checkbox'></label>
                </td>

                <td class='text-center nowrap'>{$vo.id}</td>
                <td class='text-center nowrap'>{$vo.open_id}</td>
                <td class='text-center nowrap'>{$vo.title}</td>
                <td class='text-center nowrap'>{$vo.phone}</td>
                <td class='text-center nowrap'>{$vo.company}</td>
                <td class='text-center nowrap'>{$vo.platform}</td>
                <td class='text-center nowrap'>{$vo.status}</td>
                <td class='text-center nowrap'>{:htmlspecialchars_decode( $vo.remark)}</td>
                <td class='text-center nowrap'>{$vo.create_time}</td>

                <td class='text-center nowrap'>
                    <a class="layui-btn layui-btn-sm layui-btn-primary layui-border-black" data-modal="{:url('appoint')}?id={$vo.id}" data-csrf="{:systoken('appoint')}">审 核</a>
                    <a class="layui-btn layui-btn-sm layui-btn-primary layui-border-black" data-modal="{:url('remark')}?id={$vo.id}" data-csrf="{:systoken('remark')}">备 注</a>
                </td>
            </tr>
            {/foreach}
            </tbody>
        </table>
        {empty name='list'}<span class="notdata">没有记录哦</span>{else}{$pagehtml|raw|default=''}{/empty}
    </div>
</div>
{/block}
