{extend name="../../admin/view/main"}

{block name="button"}

<!--{if auth("add")}-->
<!--<button data-open='{:url("add")}' data-title="添加信息" class='layui-btn layui-btn-sm layui-btn-primary'>添加信息</button>-->
<!--{/if}-->
<!--{if auth("remove")}-->
<!--
<a data-confirm="确定要永久删除这些信息吗？" data-action='{:url("remove")}' data-rule="id#{key}" data-csrf="{:systoken('remove')}" class='layui-btn layui-btn-sm layui-btn-primary'>批量删除</a>
-->

<!--{/if}-->

{/block}

{block name="content"}
<div class="layui-tab layui-tab-card think-bg-white table-block">
    <!--<ul class="layui-tab-title notselect">
        {foreach ['0'=>'正常显示','1'=>'草 稿 箱'] as $k=>$v}
        {if isset($mode) and $mode eq $k}
        <li class="layui-this" data-open="{:url('index')}?mode={$k}">{$v}</li>
        {else}
        <li data-open="{:url('index')}?mode={$k}">{$v}</li>
        {/if}
        {/foreach}
    </ul>-->
    <div class="layui-tab-content think-box-shadow table-block table-block">
        {include file='order_contract/index_search'}
        <table class="layui-table margin-top-10" lay-skin="line">
            <thead>
            <tr>
                <th class='list-table-check-td think-checkbox'>
                    <label><input data-auto-none data-check-target='.list-check-box' type='checkbox'></label>
                </th>
               <!-- <th class='list-table-sort-td'>
                    <button type="button" data-reload class="layui-btn layui-btn-xs">刷 新</button>
                </th>-->
                <th class='text-center nowrap' width="">ID</th>
                <th class='text-center nowrap' width="">订单号</th>
                <th class='text-center nowrap' width="">openId</th>
                <th class='text-center nowrap' width="">昵称</th>
                <th class='text-center nowrap' width="">订单金额</th>
                <th class='text-center nowrap' width="">订单信息</th>
                <th class='text-center nowrap' width="">订单状态</th>
                <th class='text-center nowrap' width="">支付状态</th>
                <th class='text-center nowrap' width="">支付方式</th>
                <th class='text-center nowrap' width="">支付时间</th>
                <th class='text-center nowrap' width="">平台</th>
                <th class='text-center nowrap' width="">创建时间</th>
                <th class='text-center'>操作</th>

            </tr>
            </thead>
            <tbody>
            {foreach $list as $key=>$vo}
            <tr style="height:80px;">
                <td class='list-table-check-td think-checkbox'>
                    <label><input class="list-check-box" value='{$vo.id}' type='checkbox'></label>
                </td>

                <td class='text-center nowrap'>{$vo.id}</td>
                <td class='text-center nowrap'>{$vo.order_no}</td>
                <td class='text-center nowrap'>{$vo.open_id}</td>
                <td class='text-center nowrap'>{$vo.nick_name}</td>
                <td class='text-center nowrap'>{$vo.order_price}</td>
                <td class='<!--text-center--> nowrap'>
                    <?php
                        $i = 1;
                    ?>
                    {foreach $vo.order_details as $k=>$detail}

                        合同名称：{$detail.lawyer_case_title}<br/>
                        合同拟定人：{$detail.lawyer_case_author}<br/>
                        合同价格：{$detail.price}<br/>
                        合同数量：{$detail.num}


                        {if count($vo.order_details)>1 && count($vo.order_details)!= $i}
                            <hr/>
                        {/if}

                        <?php
                            $i++ ;
                        ?>
                    {/foreach}
                </td>
                <td class='text-center nowrap'>{$vo.status}</td>
                <td class='text-center nowrap'>{$vo.pay_status}</td>
                <td class='text-center '>{$vo.pay_type}</td>
                <td class='text-center nowrap'>{$vo.pay_time}</td>
                <td class='text-center nowrap'>{$vo.platform}</td>
                <td class='text-center nowrap'>{$vo.create_time}</td>

                <td class='text-center nowrap'>
                    <a class="layui-btn layui-btn-sm layui-btn-primary layui-border-black" data-modal="{:url('appoint')}?id={$vo.id}" data-csrf="{:systoken('appoint')}">审 核</a>
                    <!--<a class="layui-btn layui-btn-sm layui-btn-primary layui-border-black" data-modal="{:url('remark')}?id={$vo.id}" data-csrf="{:systoken('remark')}">备 注</a>-->
                </td>
            </tr>
            {/foreach}
            </tbody>
        </table>
        {empty name='list'}<span class="notdata">没有记录哦</span>{else}{$pagehtml|raw|default=''}{/empty}
    </div>
</div>
{/block}
